/* Font style */

.grey-italic-caption {
    text-align: center;
    font-style: italic;
    color: grey;
    margin-top: 10px;
    font-size: 0.9em; /* size */
}

/* Apply justified text alignment to all page content */
.page-content, .wrapper, main {
    text-align: justify;
}
