<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <!-- Include default metadata and head content -->
    {%- include head.html -%}

    <!-- Link Google Fonts for Roboto 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    -->

    <!-- Link global fonts and styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font.css">

    <!-- Link carousel-specific CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/carousel.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/graph-carousel.css">


    <!-- Link dark-mode toggle CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dark-mode-toggle.css">

    <!-- Link sticky header CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sticky-header.css">

    <!-- Link plot-view CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/plot-view.css">

    <!-- Link footer CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer.css">

    <!-- Include page-specific CSS -->
    {% if page.layout == "post" %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/image-selector.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/iframe-selector.css">
    {% endif %}

      <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Signika">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/override.css" />
  </head>

  <body>
    <!-- Include header -->
    {%- include header.html -%}

    <!-- Main content -->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- Include footer -->
    {%- include footer.html -%}

    <!-- Global JavaScript variables -->
    <script>
      // Declare baseurl globally for JavaScript use
      var baseurl = "{{ site.baseurl }}";
      console.log("Base URL (from default.html):", baseurl);
    </script>

    <!-- Include page-specific JS -->
    {% if page.layout == "post" %}
      <script src="{{ site.baseurl }}/assets/js/image-selector.js"></script>
      <script src="{{ site.baseurl }}/assets/js/iframe-selector.js"></script>
    {% endif %}

    <!-- Add JavaScript files here -->
    <script src="{{ site.baseurl }}/assets/js/carousel.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graph-carousel.js"></script>
    <script src="{{ site.baseurl }}/assets/js/dark-mode-toggle.js"></script>
    <script src="{{ site.baseurl }}/assets/js/typewriter.js"></script>
  </body>
</html>